body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(17, 17, 17);
    overscroll-behavior: none;
}

#content{
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

#info{
    color: azure;
    position: absolute;
    top: 10%;
    left: 7%;
    transform:translate(-5%,-50%);
    text-align: left;
}

#instructions{
    color: azure;
}

button{
    cursor: pointer;
    border: none;
    padding: 2px 10px 2px 10px;
    height: 22px;
    border-radius: 5px;
    background-color: rgb(31, 81, 233);
    color: white;
}

button:hover{
    background-color: rgb(117, 116, 121);
}

button:disabled,
button:hover:disabled
{
    background-color: gray;
    cursor: default;
}
.row{
    display: flex;
    align-items: center;
}
.thumb{
    width:10%;
}
.rowLabel{
    width: 15%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}